*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: 'Montserrat', sans-serif;
background:#dcdcdc;
color:#444;
line-height:1.6;
}


/* HERO */

.hero{

height:650px;
background-image:url("img/batman.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
padding:40px;

}

.hero-text{

max-width:900px;

}

.hero h1{

color:white;
font-size:42px;
font-weight:300;
line-height:1.3;

}


/* CONTENIDO */

.main{

padding:50px 0;

}

.container{

max-width:850px;
margin:auto;
background:white;
padding:40px;

}


/* TITULOS */

h2{

font-size:30px;
margin-bottom:20px;
font-weight:400;

}

h3{

margin-top:30px;
margin-bottom:15px;
font-size:22px;

}

h4{

margin-top:30px;
margin-bottom:15px;
font-size:18px;
letter-spacing:2px;

}


/* TEXTO */

p{

margin-bottom:20px;
font-size:15px;
color:#666;

}

.red{

color:#ff4a4a;

}


/* VIDEO */

.video{

margin:30px 0;

}

.video iframe{

border:none;

}


/* IMAGENES */

.article-img{

width:100%;
margin:30px 0;

}


/* FOOTER */

footer{

text-align:center;
padding:30px;
color:#888;
font-size:14px;

}